@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;300;400;500;700;900&display=swap');

body {
    font-family: 'Be Vietnam Pro', sans-serif;
}

/* Navbar */
.btn-login:hover {
    background-color: #F05A25 !important;
    color: #ffffff !important;
}
