@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;300;400;500;700;900&display=swap');

body {
    font-family: 'Be Vietnam Pro', sans-serif;
}

/* Navbar */
.navbar-brand img {
    max-height: 100px; /* Sesuaikan ukuran */
    width: auto;
}

.navbar {
    height: 75px; /* Sesuaikan agar konsisten */
    display: flex;
    align-items: center;
}

.navbar .form-control {
    height: 40px; /* Sesuaikan agar tidak terlalu besar */
}


.btn-login:hover {
    background-color: #F05A25 !important;
    color: #ffffff !important;
}

/* Home */
.category-item, .features-item, .show-item {
    transition: transform 0.3s ease-in-out;
}

.category-item:hover {
    transform: scale(1.2); /* Bisa 1.1 atau 1.2 sesuai selera */
}

.features-item:hover, .show-item:hover {
    transform: scale(1.05); /* Bisa 1.1 atau 1.2 sesuai selera */
}

.btn-cart:hover, .btn-hero:hover {
    background-color: #F05A25 !important;
    color: #ffffff !important;
}

.btn-edit:hover {
    background-color: #3FA9F5 !important;
    color: #ffffff !important;
}

.btn-delete:hover {
    background-color: red !important;
    color: #ffffff !important;
}
